-for game in @games
      a href="../browse/#{game['appid']}/#{game['name']}"
        img src="http://media.steampowered.com/steamcommunity/public/images/apps/#{game['appid']}/#{game['img_logo_url']}.jpg"