body {
    margin: 0;
}

#header {
    width: 100%;
    height: 50px;
    background-color: #444;
    text-align: center;
}

#header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#login {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-left: 85%;
}

#menucontainer {
    height: 35px;
    background-color: #666;
}

#profile, #browse, #community {

}

#profile {
    margin-left: 25%;
}

#browse {
    margin: 0 auto;
}

#community {
    margin-left: 75%;
}

#chatbox {
    float: left;
    margin-left: 50%;
}

#messages {
    float: left;
    height: 450px;
    width: 360px;
    border: 1px solid darkgray;
    overflow:scroll;
}
#content_message {
    font: left;
    margin-top: 5px;
    width: 313px;
}
#send_button {
    margin-top: -2px;
    height: 27px;
}
