

script src="/faye.js"

div#chatbox
  p

    input type='hidden' id='channel' value=""
    input type='hidden' id='nickname' value="#{@user}"
    #messages
    input type='text' id='content_message'
    input type='button' onclick ='say_hi()' value='send' id="send_button"

  javascript:
    var client = new Faye.Client('http://#{request.host}:#{request.port}/faye')

    client.subscribe('/messages', function(message) {
      document.getElementById('messages').innerHTML += "<p>" + message.nickname + " : " + message.text + "</p>";
      document.getElementById('messages').scrollTop = 10000;
    });

    document.getElementById("content_message").addEventListener( "keydown", function( e ) {
        var keyCode = e.keyCode || e.which;
        if ( keyCode === 13 ) {
           say_hi();
        }
    }, false);

    function say_hi() {
      var text = document.getElementById('content_message').value;
      var nick = document.getElementById('nickname').value;
      content_message.value= ""
      document.getElementById('content_message').focus()
      client.publish('/messages', {text: text, nickname: nick});
      document.getElementById("text").focus();
    }

