

script src="/faye.js"

div#chatbox

  input type='hidden' id='channel' value=@lobby['id']
  input type='hidden' id='nickname' value="#{@user['name']}"
  #messages
  input type='text' id='content_message'
  input type='button' onclick ='say_hi()' value='send' id="send_button"

  javascript:
    var client = new Faye.Client('http://#{request.host}:#{request.port}/faye')

    var channel = "/"+document.getElementById('channel').value;

    client.subscribe(channel, function(message) {
      document.getElementById('messages').innerHTML += "<p>" + message.nickname + " : " + message.text + "</p>";
      document.getElementById('messages').scrollTop = 10000;
    });

    client.on('subscribe', function(clientId, channel) {

    });


    document.getElementById("content_message").addEventListener( "keydown", function( e ) {
        var keyCode = e.keyCode || e.which;
        if ( keyCode === 13 ) {
           say_hi();
        }
    }, false);

    function say_hi() {
      var text = document.getElementById('content_message').value;
      var nick = document.getElementById('nickname').value;
      content_message.value= ""
      document.getElementById('content_message').focus()
      client.publish(channel, {text: text, nickname: nick});
      document.getElementById("text").focus();
    }

