h3 Simple Chat using Sinatra, Ruby and Faye
p
  label Nickname:
  input type='text' id='nickname'
  label Send Message:
  input type='text' id='content_message'
  input type='button' onclick ='say_hi()' value='send'

hr
#messages
javascript:
  var client = new Faye.Client('http://#{request.host}:#{request.port}/faye')

  client.subscribe('/messages', function(message) {
    document.getElementById('messages').innerHTML += "<p>" + message.nickname + " : " + message.text + "</p>";
    content_message.value= ""
  });

  document.getElementById("content_message").addEventListener( "keydown", function( e ) {
      var keyCode = e.keyCode || e.which;
      if ( keyCode === 13 ) {
         // enter pressed
         say_hi();
      }
  }, false);

  function say_hi() {
    var text = document.getElementById('content_message').value;
    if(document.getElementById("content_message").value != ""){
      var nick = document.getElementById('nickname').value;
      client.publish('/messages', {
        text: text, nickname: nick
    });
    }
  }