@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/bootstrap/less/normalize.less";

@dark-gray: #444;
@red: #ff0000;
@height: 40px;
@grid-columns:              12;
@grid-gutter-width:         30px;
@grid-float-breakpoint:     768px;

.wrapper {
  .make-row(@height);
}

.content-main {
  .make-lg-column-push(8);
  background-color: @dark-gray;
}

.content-secondary {
  .make-lg-column-pull(3);
  .make-lg-column-offset(1);
  background-color: @red;
}