@import "../../bower_components";
@dark-gray: #444;

.wrapper {
  .make-row();
}

.content-main {
  .make-lg-column(8);
}

.content-secondary {
  .make-lg-column(3);
  .make-lg-column-offset(1);
}

#menucontainer {
  height: 35px;
  background-color: #666;
}